/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --content-color: #EEEFFE;
    --btn-primary-color: #695CFE;
    --btn-secondary-color: #4dff55;
    --btn-danger-color: #ff3232;

    /* =====Transition ===== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
}

body.dark {
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;
    --content-color: #555555;
    --btn-primary-color: #1111BE;
    --btn-secondary-color: #2aad23;
    --btn-danger-color: #b12626;
}

/* ===== Reusable CSS ===== */
.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.dark .image img {
    filter: invert(1) hue-rotate(180deg);
}

/* ===== Sidebar Header ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-04);
    white-space: nowrap;
    z-index: 105;
}

.sidebar.close {
    width: 88px;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar header {
    position: relative;
}

.sidebar .image-text img {
    width: 51px;
    border-radius: 6px;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 600;
}

.header-text .profession {
    margin-top: -2px;
    display: block;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: rotate(180deg) translateY(50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 24px;
    transition: var(--tran-03);
    cursor: pointer;
}

.sidebar.close header .toggle {
    transform: translateY(-50%);
    transition: var(--tran-03);
}

body.dark .sidebar header .toggle {
    background: var(--text-color);
    transition: var(--tran-03);
}

/* ===== Sidebar Nav Link ===== */
.sidebar li {
    position: relative;
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    min-width: 60px;
}

.sidebar li .icon, .sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    text-decoration: none;
    align-items: center;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background: var(--toggle-color);
}

.sidebar li a:hover .icon, .sidebar li a:hover .text {
    color: var(--text-color);
}

body.dark .sidebar li a:hover {
    background: var(--primary-color);
}

body.dark .sidebar li a:hover .icon, .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu2 {
    position: relative;
    overflow-y: visible;
    height: calc(100% - 50px); /* Adjusted to account for the 25px spacing */
    scrollbar-width: none;
}

.bottom-content {
    padding-top: 0;
}

.menu-bar .mode {
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i {
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun{
    opacity: 0;
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}

body.dark .menu-bar .mode i.moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    border-radius: 6px;
    cursor: pointer;
    background: var(--primary-color-light);
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    cursor: pointer;
    transition: var(--tran-03);
}

body.dark .switch::before{
    left: 24px;
}

/* ===== Main Content Page ===== */
.home {
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--tran-05);
    padding: 25px 10px;
}

.home .title .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 8px;
}

.home .title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left : 15px;
    padding: 6px 32px;
    width: calc(100% - 28px);
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    background: var(--primary-color-light);
    z-index: 101;
}

.sidebar.close ~ .home {
    left: 88px;
    width: calc(100% - 88px);
}

/* ===== Table Content Page ===== */
.table {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 28px);
    height: calc(100% - 90px);
    margin-left: 15px;
    background: #F6F5FF;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
}

body.dark .table {
    background: linear-gradient(to bottom, #3D3E3F, #404142);
}

.table-header {
    width: 100%;
    height: 10%;
    background: transparent;
    padding: .8rem 1rem;
    border-radius: .8rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

body.dark .table-header {
    background: linear-gradient(to bottom, #3A3B3C, #3D3E3F);
}

.table-header .input-group {
    width: 35%;
    height: 36px;
    background: var(--content-color);
    padding: 0 .8rem;
    border-radius: 1.5rem;
    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

body.dark .input-group, body.dark .input-group input::placeholder{
    color: white;
    font-weight: 500;
}

.table-header .input-group:hover {
    width: 36%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

body.dark .table-header .input-group:hover {
    background-color: #9998;
}

.table-header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table-header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table-body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background: linear-gradient(to bottom, #FFF, #efeef9);
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
    scrollbar-width: none;
}

body.dark .table-body{
    background: linear-gradient(to bottom, #373839, #353535);
}

.table-body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table-body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table-body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

table {
    width: calc(105% - 0px);
    border-spacing: 0;
    border-collapse: collapse;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead {
    position: relative; 
    z-index: 1; 
}

thead tr {
    position: sticky;
    top: 0;
    left: 0;
}

thead tr:hover {
    cursor: default;
}

thead .cursor_pointer:hover {
    cursor: pointer;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background: #fff;
    text-transform: capitalize;
    font-size: 12px;
    line-height: 1.75;
}

thead th:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    z-index: -1;
}

body.dark thead th {
    background: linear-gradient(to bottom, #262728, #363738);
    color: #FFF;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
    font-size: 14px;
}

.home tbody tr:nth-child(odd) {
    background-color: #ffffff; /* Very light gray */
}

.home tbody tr:nth-child(even) {
    background-color: #f3f3f3; /* White */
}

tbody tr:nth-child(even):hover, tbody tr:nth-child(odd):hover {
    transition: .2s ease-in-out;
    cursor: pointer;
    background-color: #e9e9fc;
}

body.dark tr {
    color: #FFF;
}
 
tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

body.dark tbody tr:hover {
    background-color: #444546 !important;
}

tbody tr td, tbody tr td p, tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td, tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

tbody tr:nth-child(even).active-row, tbody tr:nth-child(odd).active-row {
    background-color: #e9e9fc;
    transition: .2s;
}

@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    position: relative;
    top: 4px;
    display: inline-block;
    text-align: center;
    font-size: 1.35rem;
    font-weight: bold;
    margin-left: .4rem;
    transition: .2s ease-in-out;
    transform: translateY(0px);
    margin-top: -15px;
    cursor: pointer;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg) translateY(2.5px) scale(1.0);
}

thead th .icon:hover {
    transform: scale(1.2);
}

.table-aside {
    position: relative;
    width: calc(39% - 32px);
    height: calc(89% - 1.6rem);
    box-shadow: 5px 0px 15px 2px rgba(0, 0, 0, 0.15);
    background: linear-gradient(to bottom, #FFF, #efeef9);
    margin: .8rem auto;
    margin-left: 12px;
    margin-right: 32px;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
}

.table-aside .icon {
    margin: -60px 51.5%; 
    font-size: 100px;
    color: transparent;
}

.table-aside .icon-border-up,
.table-aside .icon-border-down {
    position: absolute;
    left: 25px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s, color .2s;
}

.table-aside .icon-border-up {
    top: 25px;
}

.table-aside .icon-border-down {
    bottom: 25px;
}

.table-aside .icon-border-up,
.table-aside .icon-border-down {
    font-size: 27px;
    box-shadow: 0 0 .8rem #0005;
    color: #000;
    transition: .2s;
}

.table-aside .icon-border-up:hover,
.table-aside .icon-border-down:hover {
    background-color: #656565;
    color: #FFF;
    transform: scale(1.05);
}

.table-aside .scrollable-content {
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow: overlay;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

.food-details-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 19.08% auto;

    width: 95%;
    height: 60%;

    background: #FFF;
    box-shadow: .2rem -.1rem .5rem #0005;
    border-radius: 24px;
    scroll-snap-align: middle;
}

.food-details-box {
    min-height: 125px;
    max-width: 248px;
    flex-grow: 1; 
    margin: 8px;
}

.img-container {
    width: 125px; 
    height: 125px; 
    margin: 8px; 
    border-radius: 6px;
}

.img-container img {
    width: 100%; 
    height: 100%;
}

.img-container .quantity {
    margin-left: 10px;
    margin-top: 5px;
}
/* ===== Form Content Page ===== */
.form-container {
    width: calc(100% - 28px);
    height: calc(100% - 90px);
    margin-left: 15px;
    background: #F6F5FF;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 95%;
    height: calc(100% - 45px);
    margin: 1.35rem auto;
    left: 5px;
    background: linear-gradient(to bottom, #FFF, #efeef9);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    scrollbar-width: none;
}

.form-container form::-webkit-scrollbar {
    display: none;
    width: 0.5rem;
    height: 0.5rem;
}

.form-container form::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.form-container form:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

.half-width {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    margin-right: 10px;
    margin-left: 45px;
    margin-top: 15px;
}

.half-width .input-box [type="file"] {
    position: relative;
    border: none;
    background: none;
    top: 8px;
    right: 15px;
    font-size: 14px;
}

.half-width .menu li:hover {
    background: none;
}

.half-width .menu-open {
    position: relative;
    display: flex;
    margin-bottom: 25px;
    margin-top: -39px;
    opacity: 1;
}

.price-container {
    display: grid;
    flex-wrap: wrap;
    width: 100%;
}

.price-box {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.table-form .user-details {
    position: relative;
    width: 95%;
    background: linear-gradient(to top, #F7F7FC, #efeef9);
    border-radius: 6px;
    margin-top: 2%;
    margin-right: 5px;
    margin-left: 2.5%;
    margin-bottom: 24px;
}

.table-form .title-name {
    position: relative;
    display: flex;
    padding-left: 1.8em;
    padding-top: 1.2em;
}

.table-form .title-name h3 {
    font-size: 21px;
    font-weight: 500;
    color: #000;
}

.table-form {
    width: 80%;
    height: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}

.overlay-box {
    background: linear-gradient(to bottom, #FFF, #efeef9);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin-left: 25px;
}

.table-form-side {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 21%;
    min-height: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}

.table-form-side .user-details{
    position: relative;
    width: 100%;
    flex-grow: 1;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: linear-gradient(to top, #F7F7FC, #efeef9);
}

.table-form-side .half-width {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: none;
    margin: 0;
    margin-top: 10px;
}

.table-form-side .title-name {
    position: relative;
    display: flex;
    padding-left: 1.8em;
    padding-top: 1.2em;
}

.table-form-side .title-name h3 {
    font-size: 21px;
    font-weight: 500;
    color: #000;
}

.input-box {
    margin-bottom: 15px;
    width: calc(100% / 2);
}

span.details {
    font-weight: 500;
    margin-bottom: 3px;
    color: black;
}

.user-details .input-box input, .user-details .input-box textarea {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    padding-left: 15px;
    border: 0.1 solid #888888;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    background: #f7f7fF;
    color: #222;
    opacity: 1000;
    transition: var(--tran-03);
}

.user-details .input-box textarea {
    width: calc(100% * 2 - 35px);
    padding-top: 9px;
}

.user-details .input-box input {
    width: calc(100% - 35px);
}

.user-details .password i{
    position: absolute;
    display: flex;
    width: 26px;
    bottom: 26px;
    left: 480px;
    font-size: 20px;
    cursor: pointer;
}

.user-details .select {
    box-shadow: 0px -5px 10px 2px rgba(0, 0, 0, 0.1);
}

.user-details .menu {
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    transition: 0.2s;
}

.checkbox-splash {
    transform: scale(1.2);
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.checkbox-splash:hover {
    transform: scale(1.24);
}

.checkbox-splash:active {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all .15s linear;
    transition: all .15s linear
}

.menu li label {
    display: inline-block;
    transition: .2s;
}

.menu li label:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.menu li [type="radio"] {
    cursor: pointer;
    transform: scale(1.2);
    margin-left: 10px;
    transition: .2s;
}

.menu li [type="radio"]:hover {
    transform: scale(1.24);
}

.menu li [type="radio"]:active {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all .15s linear;
    transition: all .15s linear
}

.category-menu li {
    position: relative;
    height: 24px;
}

.radio {
    position: relative;
    top: -5px;
    display: flex;
    flex-direction: row;
}

.radio span.text {
    font-size: 16px;
    font-weight: 500;
    margin: 35px 50px;
}

.radio .down {
    position: relative;
    left: 45px;
}

.button {
    position: relative;
    display: flex;
    left: 45px;
    padding-bottom: 20px;
    padding-top: 35px;
}

.dropdown2 {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
}

.dropdown2 span.text {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.dropdown2 select {
    height: 32px; 
    padding: 0 15px; 
    color: black;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    background: #F7F7FF;
    border-radius: 6px;
}

.dropdown2 .position, .dropdown2 .status {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 135px;
    margin: 15px;
    border-radius: 6px;
}

.dropdown3 {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px;
    top: 0;
    left: 30px;
}

.dropdown3 select {
    height: 32px; 
    padding: 0 15px; 
    color: black;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    cursor: pointer;
    background: #F7F7FF;
    border-radius: 6px;
}

.dropdown3 .status {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 15px;
    border-radius: 6px;
}

.dropdown-license {
    min-width: 14rem;
    position: relative;
    margin: 1em;
    margin-top: 0;
    width: 50%;
}

.dropdown-license .select-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
    height: 32px; 
    padding: 0 15px; 
    color: black;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    background: #F7F7FF;
    border-radius: 6px;
    border: none;
    border-top: 2px solid #979797;
    border-left: 2px solid #979797;
    border-right: 2px solid #cfd2d6;
    border-bottom: 2px solid #cfd2d6;
}

.dropdown-license .select-icon i{
    font-size: 18px;
    margin-right: -15px;
}

.menu-license {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #F7F7FF;
    border-radius: 6px;
    color: #000;
    position: absolute;
    top: 4.8em;
    transform: translateX(11%);
    opacity: 0;
    display: none;
    z-index: 100;
    border-top: 2px solid #979797;
    border-left: 2px solid #979797;
    border-right: 2px solid #cfd2d6;
    border-bottom: 2px solid #cfd2d6;
}

.menu-license li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    margin-bottom: -8px;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 14px;
}

.menu-open-license {
    display: block;
    opacity: 1;
}

span.details {
    font-size: 16px;
    font-weight: 550;
    margin-bottom: 10px;
}

body.dark .form-container {
    background: linear-gradient(to bottom, #3B3C3D, #404142);
}

body.dark .form-container form {
    background: linear-gradient(to bottom, #272829 2%, #353637 18%, #363738 80%, #353535 100%);
}

body.dark .half-width .input-box [type="file"] {
    background: none;
    color: white;
}

body.dark form .input-box span.details {
    color: white;
}

body.dark .user-details .input-box input, body.dark .user-details .input-box textarea {
    background: #c9c9c9;
    color: #000;
}

body.dark .radio span.text, body.dark .down {
    color: white;
}

body.dark .dropdown2 .position, .dropdown2 .status {
    position: relative;
    border: none;
}

body.dark .dropdown2 .position select, body.dark .dropdown2 .status select {
    background: #c9c9c9;
}

body.dark .dropdown2 span.text {
    color: white;
}

/* ===== Buttons ===== */
.home .title .icon {
    position: relative;
    transform: translateY(0px);
    right: 5px;
}

.btn-primary:hover {
    background: #3742fa;
    cursor: pointer;
    transform: scale(1.05);
    font-weight: 600;
}

.btn-secondary:hover {
    background: #0ef61d;
    cursor: pointer;
    transform: scale(1.05);
    font-weight: 600;
}

.btn-danger:hover {
    background: #f10a0a;
    cursor: pointer;
    transform: scale(1.05);
    font-weight: 600;
}

body.dark .btn-primary:hover {
    background: #0D0D99;
    cursor: pointer;
    transform: scale(1.05);
    font-weight: 600;
}

body.dark .btn-secondary:hover {
    background: #238D1A;
    cursor: pointer;
    transform: scale(1.05);
    font-weight: 600;
}

body.dark .btn-danger:hover {
    background: #961F1F;
    cursor: pointer;
    transform: scale(1.05);
    font-weight: 600;
}

.buttons {
    position: relative;
    display: flex;
    gap: 15px;
}

.btn-primary {
    display: flex;
    padding: 10px 20px;
    border-radius: 6px;

    align-items: center;
    justify-content: center;

    background: var(--btn-primary-color);
    color: #FFF;
    transition: var(--tran-02);

    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}

.btn-secondary {
    display: flex;
    padding: 10px 20px;
    border-radius: 6px;

    align-items: center;
    justify-content: center;

    background: var(--btn-secondary-color);
    color: #000000;
    transition: var(--tran-02);
    border: none;

    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}

body.dark .btn-secondary {
    color: #FFF;
}

.btn-danger {
    display: flex;
    padding: 10px 20px;
    border-radius: 6px;

    align-items: center;
    justify-content: center;

    background: var(--btn-danger-color);
    color: #FFF;
    transition: var(--tran-02);

    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}

/* ===== Dropdown Menu ===== */
.dropdown {
    min-width: 14em;
    position: relative;
    top: 5px;
}

.select {
    background: #fff;
    color: #000;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 6px 1em;
    cursor: pointer;
    transition: 0.3s;
}

.select-clicked {
    box-shadow: 0px 0px 7.5px 1.5px #716f7f;
}

.select:hover {
    transform: scale(1.01)
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #000;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #fff;
    box-shadow: 0 0 0.5em #031534;
    box-shadow: 0px 0px 6px 1px #777581;
    border-radius: 6px;
    color: #000;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 100;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li a {
    text-decoration: none;
    color: 000;
}

.menu li:hover {
    background: #f1f4f4;
}

.active1 {
    background: #f1f1f4;
}

.menu-open {
    display: block;
    opacity: 1;
}

.add-food {
    position: relative;
}

.add-food .add-btn {
    position: relative;
    display: flex;
    padding: 10px 20px;
    border-radius: 6px;
    margin-right: 15px;
    margin-top: 10px;

    align-items: center;
    justify-content: center;

    background: var(--btn-primary-color);
    color: #FFF;
    transition: var(--tran-02);

    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}

.add-food .add-btn a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    color: #FFF;
}

.add-food .add-btn:hover {
    background: #3742fa;
    transform: scale(1.05);
    cursor: pointer;
}

body.dark .add-food .add-btn:hover 
{
    background: #0D0D99;
}

.dropdown-license {
    min-width: 14rem;
    position: relative;
    margin: 1em;
    margin-top: 0;
    width: 50%;
}

.dropdown-license .select-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
    height: 32px; 
    padding: 0 15px; 
    color: black;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    background: #F7F7FF;
    border-radius: 6px;
    border: none;
    border-top: 2px solid #979797;
    border-left: 2px solid #979797;
    border-right: 2px solid #cfd2d6;
    border-bottom: 2px solid #cfd2d6;
}

.dropdown-license .select-icon i{
    font-size: 18px;
    margin-right: -15px;
}

.menu-license {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #F7F7FF;
    border-radius: 6px;
    color: #000;
    position: absolute;
    top: 4.8em;
    transform: translateX(11%);
    opacity: 0;
    display: none;
    z-index: 100;
    border-top: 2px solid #979797;
    border-left: 2px solid #979797;
    border-right: 2px solid #cfd2d6;
    border-bottom: 2px solid #cfd2d6;
}

.menu-license li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    margin-bottom: -8px;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 14px;
}

.menu-open-license {
    display: block;
    opacity: 1;
}

/*.dropdown input {
    display: none;
}

.dropdown .dropdown-options {
    position: absolute;
    right: 0;
    
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);

    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    
    box-shadow: 0 .2rem .5rem #0004;
    
    transition: .2s;
}

.dropdown input:checked + .dropdown-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.dropdown .dropdown-options label {
    display: block;
    width: 100%;
    padding: .6rem 0;
    background: var(--primary-color-light);
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: var(--sidebar-color);

    transition: .2s ease-in-out;
}

.dropdown .dropdown-options label a {
    text-decoration: none;
    color: var(--text-color);
}

.dropdown .dropdown-options label:first-of-type {
    padding: 0.8rem 0;
    background-color: #86e49d !important;
}

.dropdown .dropdown-options label:hover {
    transform: scale(1.05);
    background: var(--content-color);
    font-weight: 600;
    cursor: pointer;
}*/

/* ===== Active Link ===== */
.menu2-links li.active {
    background-color: var(--toggle-color);
    border-radius: 6px;
}

body.dark .menu2-links li.active {
    background-color: var(--primary-color);
}

/* CSS FOR LOGIN */
.login{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid grey;
    width: calc(50% - 250px);
    margin: 10% auto;
    row-gap: 15px;
    padding: 2%;
}

.login .btn-primary {
    position: relative;
    display: flex;
    left: 72px;
}

.option-field {
    margin-top: -5px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.option-field a {
    color: #8e4051;
    font-size: 12px;
    text-decoration: none;
}

.option-field a:hover {
    text-decoration: underline;
}

.checkbox {
    display: flex;
    column-gap: 8px;
    white-space: nowrap;
}

.checkbox input {
    accent-color: #8e4051;
}

.checkbox label {
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    color: #0b0217;
}

/* ===== Success/ Failure ===== */
.success{
    color: #2ed573;
    font-weight: bold;
}

.error{
    color: #ff4757;
    font-weight: bold;
}

/* ===== Profile Pic CSS ===== */
.user-pic{
    width:40px;
    height: 40px;
    border-radius:50%;
    cursor: pointer;
    margin-left:30px;
    transition: .2s;
}

.user-pic:hover {
    transform: scale(1.04);
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 0px;
    width: 450px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    border-radius: 18px;
    z-index: 100;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 15px;
    background: #F6F5FF;
    backdrop-filter: blur(7px);
    box-shadow: -4px 4px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h3{
    font-weight: 500;
}

.user-info img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px ;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:#525252;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link img{
    width: 32px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8%;
    margin-right: 15px;
}

.sub-menu-link .icon {
    font-size: 36px;
    padding: 4px;
    margin-right: 10px;
    margin-left: 4px;
}

.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}
.sub-menu-link:hover p{
    font-weight: 600;
}

/* ===== Profile Add/Update CSS ===== */
.profile-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: calc(92% - 1.6rem);
    margin-top: 32px;
    border-radius: 6px;
    overflow: hidden;
    scrollbar-width: none;
    padding-bottom: 25px;
}

.table-2 {
    width: 68%;
    height: calc(92% - 1.6rem);
    background: linear-gradient(to bottom, #FFF, #efeef9);
    margin: 50px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    padding-bottom: 25px;
}

.profile-container .profile-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    width: 295px;
}

.profile-container .profile-img img {
    width: 295px;
    height: 295px;
    border-radius: 50%;
    border: 2px solid #828282;
}

.profile-container .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 25px;
    left: 1px;
    transition: var(--tran-02);
}

.profile-container .icon-border {
    position: absolute;
    display: inline-flex;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 2px solid #828282;
    border-radius: 50%;
    padding: 5px;
    color: #000000;
    background: #f2f1fa;
    bottom: 25px;
    right: 25px;
}

.profile-container .icon-border:hover {
    transform: scale(1.02);
    color: #695CFE;
}

.profile-container .user-details {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 295px;
}

.profile-container .details {
    font-size: 20px;
    font-weight: 600;
    margin-left: 15px;
    color: #000;
    /*background: linear-gradient(135deg, red, orange, lime, blue, violet);
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s ease-in-out infinite;*/
}

.profile-form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 25px;
    margin-bottom: 25px;
    height: calc(90% + 15px); 
    width: calc(75% - 15px);
}

.profile-form .title-name {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.profile-form .half-width {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px;
}

.profile-form .button {
    position: relative;
    display: flex;
    left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.profile-details {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%; 
    width: calc(100% - 30px);
    overflow-y: auto; 
    overflow-x: hidden;
    scrollbar-width: thin;
    padding: 20px;
    border-radius: 12px;
    box-shadow: -4px 0px 8px 1px rgba(0, 0, 0, 0.1);
    border: 2px solid #E9E8F9;
    margin: 15px;
    margin-bottom: 5px;
}

/* Only Works on Chrome, Edge, and Safari */
.profile-details::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #959595;
}

.profile-details .input-box {
    width: calc((100% / 2) - 15px);
    margin-bottom: 15px;
}

.profile-details span.details {
    color: #000;
    font-size: 15px;
    font-weight: 600;
}

.profile-details input[type="text"], .profile-details input[type = "password"], .profile-details input[type = "date"], .profile-details input[type = "email"] {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    border-top: 1px solid rgba(133, 133, 133, 0.8);
    border-bottom: 1px solid rgba(133, 133, 133, 0.8);
    border-left: 1px solid rgba(133, 133, 133, 0.06);
    border-right: 1px solid rgba(133, 133, 133, 0.06);
    background: transparent;
}

.password-container {
    position: relative;
}

.password-container .pw-hide {
    position: absolute;
    right: 10px;
    top: 57.5%;
    transform: translateY(-50%);
    cursor: pointer;
}

.profile-container .light-color{
    font-size: 18px;
    font-weight: none;
    color: #6c6c6c;
    margin-top: -5px;
    margin-left: 15px;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* ===== TOOLTIP TEXT ===== */
.sidebar.close .nav-link .tooltip{
    position:absolute;
    left: 160px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 160px;
    background: #FFF;
    color: #000;
    line-height:35px;
    text-align: center;
    box-shadow: 0 0 0.8rem rgba(0,0,0,0.2);
    transition:0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar.close .nav-link .tooltip::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 100%; 
    margin-top: -8px; 
    border-width: 8px;
    border-style: solid;
    border-color: transparent white transparent transparent;
}

.sidebar .nav-link .tooltip{
    display: none;
}

.sidebar.close span.text, span.nav-text .tooltip {
    display: none;
}

.sidebar.close .nav-link:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

/* ===== Dropdown Toggle Column ===== */
.dropdown-toggle-column {
    min-width: 14rem;
    position: relative;
    margin: 1em;
}

.select-column {
    background: #fff;
    color: #000;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 6px 1em;
    cursor: pointer;
    transition: 0.3s;
}

.select-column:hover {
    transform: scale(1.01)
}

.caret-column {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #000;
    transition: 0.3s;
}

.caret-rotate-column {
    transform: rotate(180deg);
}

.menu-column {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #fff;
    box-shadow: 0 0 0.5em #031534;
    box-shadow: 0px 0px 6px 1px #777581;
    border-radius: 6px;
    color: #000;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 100;
}

.menu-column li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    margin-bottom: -8px;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 14px;
}

.active-column {
    background: #f1f1f4;
}

.menu-open-column {
    display: block;
    opacity: 1;
}

.checkbox-column {
    transform: scale(1.2);
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}

.checkbox-column:hover {
    transform: scale(1.24);
}

.checkbox-column:active {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all .15s linear;
    transition: all .15s linear
}

.dropdown-toggle-column .icon-border{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s, color .2s;
    margin-bottom: -45px;
    padding-bottom: 30px;
}

.dropdown-toggle-column .icon-border .select-icon {
    font-size: 32px;
}

.dropdown-toggle-column .icon-border .select-icon:active{
    transform: scale(1.09);
    transition: var(--tran-02);
}

.dropdown-toggle-column .icon-border .tooltip {
    position: absolute;
    left: 9.5%; /* Center the tooltip */
    top: -35px; /* Position the tooltip above the icon-border */
    transform: translate(-50%, -175%);
    border-radius: 6px;
    height: 25px;
    width: 145px;
    background: #FFF;
    color: #000;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    box-shadow: 0 0 0.8rem rgba(0,0,0,0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
    display: block;
    z-index: 1;
}

.dropdown-toggle-column .icon-border .tooltip::before {
    content: '';
    position: absolute;
    left: 50%; /* Center the arrow */
    bottom: -12.5px; /* Position the arrow at the bottom of the tooltip */
    margin-left: -8px; /* Center the arrow */
    border-width: 8px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.dropdown-toggle-column .icon-border:hover .tooltip {
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

.dropdown-toggle-column .tooltip{
    display: none;
}

.hidden-column {
    display: none;
}

/* ===== Status Box Color ===== */
.pending {
    background-color: rgba(255, 206, 86, 0.4);
    display: flex;
    padding: 10px;
    border-radius: 24px;

    align-items: center;
    justify-content: center;

    color: #d4a63a;
    border: none;

    font-size: 12px;
    font-weight: bold;
}

.preparing {
    background-color: rgba(75, 192, 192, 0.4);
    display: flex;
    padding: 10px;
    border-radius: 24px;

    align-items: center;
    justify-content: center;

    color: #3c9d9b;
    border: none;

    font-size: 12px;
    font-weight: bold;
}

.out-for-delivery {
    background-color: rgba(153, 102, 255, 0.4);
    display: flex;
    padding: 10px;
    border-radius: 24px;

    align-items: center;
    justify-content: center;

    color: #7048e8;
    border: none;

    font-size: 12px;
    font-weight: bold;
}

.delivered {
    background-color: rgba(46, 213, 115, 0.4);
    display: flex;
    padding: 10px;
    border-radius: 24px;

    align-items: center;
    justify-content: center;

    color: #1e9a1a;
    border: none;

    font-size: 12px;
    font-weight: bold;
}

.cancelled {
    background-color: rgba(255, 99, 132, 0.4);
    display: flex;
    padding: 10px;
    border-radius: 24px;

    align-items: center;
    justify-content: center;

    color: #d94848;
    border: none;

    font-size: 12px;
    font-weight: bold;
}

.on-hold {
    background-color: rgba(255, 159, 64, 0.4);
    display: flex;
    padding: 10px;
    border-radius: 24px;

    align-items: center;
    justify-content: center;

    color: #d46b10;
    border: none;

    font-size: 12px;
    font-weight: bold;
}

.Active_status {
    background-color: rgba(76, 233, 135, 0.5); /* Brighter green */
    display: flex;
    padding: 10px;
    border-radius: 24px;

    align-items: center;
    justify-content: center;

    color: #29a050; /* Brighter green */
    border: none;

    font-size: 12px;
    font-weight: bold;
}

.Inactive_status {
    background-color: rgba(255, 129, 162, 0.4); /* Brighter red */
    display: flex;
    padding: 10px;
    border-radius: 24px;

    align-items: center;
    justify-content: center;

    color: #ff516a; /* Brighter red */
    border: none;

    font-size: 12px;
    font-weight: bold;
}

.table-row td {
    user-select: none;
}

.delivery-container, .order-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
    height: calc(90% + 15px); /* Set a specific height */
}

.delivery-container {
    width: 40%;
}

.order-container {
    width: calc(60% - 25px);
}

.delivery-details {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%; 
    width: calc(100% - 30px);
    overflow-y: auto; 
    overflow-x: hidden;
    scrollbar-width: thin;
    margin: 15px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: -4px 0px 8px 1px rgba(0, 0, 0, 0.1);
    border: 2px solid #E9E8F9;
}

/* Only Works on Chrome, Edge, and Safari */
.delivery-details::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #959595;
}

.delivery-details .input-box, .order-container .input-box {
    width: auto;
    margin-bottom: 15px;
}

.delivery-details span.details, .order-container span.details{
    color: #656565;
    font-size: 15px;
    font-weight: 600;
}

.delivery-details input[type="text"], .order-container input[type="text"] {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    border-top: 1px solid rgba(133, 133, 133, 0.5);
    border-bottom: 1px solid rgba(133, 133, 133, 0.5);
    border-left: 1px solid rgba(133, 133, 133, 0.06);
    border-right: 1px solid rgba(133, 133, 133, 0.06);
    background: transparent;
}

.readonly-color {
    color: #757575;
}

.item-details {
    height: 60%;
    width: calc(100% - 30px);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    margin: 15px;
    border-radius: 12px;
    box-shadow: -4px -5px 8px 1px rgba(0, 0, 0, 0.1);
    border: 2px solid #E9E8F9;
}

.item-details table th {
    background: #F6F5FF;
}

.item-details td {
    border-top: 1px solid rgba(133, 133, 133, 0.5);
}

.order-summary {
    overflow: none;
    height: 35%;
    width: calc(100% - 30px);
    margin: 0 15px;
    margin-bottom: 15px;
    border-radius: 12px;
}

/* Add & Update Category */
.category-container, .show-food-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
    height: calc(90% + 15px); /* Set a specific height */
}

.category-container {
    width: 100%;
}

.show-food-container {
    width: calc(60% - 25px);
}

.category-details {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%; 
    width: calc(100% - 30px);
    overflow-y: auto; 
    overflow-x: hidden;
    scrollbar-width: thin;
    margin: 15px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: -4px 0px 8px 1px rgba(0, 0, 0, 0.1);
    border: 2px solid #E9E8F9;
}

.category-details::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #959595;
}

.category-details .input-box, .show-food-container .input-box {
    width: auto;
    margin-bottom: 15px;
}

.category-details span.details, .show-food-container span.details{
    color: #000;
    font-size: 15px;
    font-weight: 600;
}

.category-details input[type="text"], .show-food-container input[type="text"] {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    border-top: 1px solid rgb(82, 82, 82, 1);
    border-bottom: 1px solid rgb(82, 82, 82, 1);
    border-left: 1px solid rgba(133, 133, 133, 0.06);
    border-right: 1px solid rgba(133, 133, 133, 0.06);
    background: transparent;
}

.show-food-container .item-details {
    height: 60%;
    width: calc(100% - 30px);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    margin: 15px;
    border-radius: 12px;
    box-shadow: 4px -5px 8px 1px rgba(0, 0, 0, 0.1);
    border: 2px solid #E9E8F9;
    padding-right: 50px;
}

.show-food-container .item-details table td {
    line-height: 1.2;
    border-top: none;
    font-size: 13px;
}

.button-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4px;
}

.addVariation {
    padding: 0px 8px;
    cursor: pointer;
    background-color:#2ed573;
    border-top-right-radius: 12px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 12px;
    border: 0;
    outline: none;
    font-size: 18px;
    margin-top: -10px;
    margin-right: 10px;
    margin-left: 45px;

    color: white;
    font-weight: bold;
    transition: .2s;
}

.addVariation:hover {
    transform: scale(1.05);
}

.addVariation:active {
    transform: scale(1.1);
}

.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 45%;
}

.remove-button {
    height: 25px;
    padding: 0px 7.5px;
    cursor: pointer;
    background-color: #ff4757;
    border-radius: 3px;
    border: 0;
    outline: none;
    color: white;
    font-weight: bold;  
    font-size: 14px;
    margin-top: 5px;
    transition: .2s;
}

.remove-button:hover {
    transform: scale(1.05);
}

.remove-button:active {
    transform: scale(1.1);
}

/* Sticky headers */
.delivery-container::before, .order-container::before, .category-container::before, .show-food-container::before, .index-title::before {
    content: attr(data-title);
    position: sticky;
    top: 10px;
    padding-left: 15px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.profile-form::before {
    content: attr(data-title);
    position: sticky;
    top: 10px;
    padding-left: 15px;
    font-size: 24px;
    font-weight: 525;
    text-align: left;
}

.total-price {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

/* INDEX CSS */
.index-table {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% - 28px);
    height: calc(100% - 90px);
    margin-left: 15px;
    background: #F6F5FF;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
}

.dashboard-box-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 98%;
    height: 40%;
    border-radius: .8rem;
    overflow: hidden;
    margin: 15px;
    margin-bottom: 0;
    padding-bottom: 35px;
}

.box1, .box2, .box3, .box4 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22.5%;
    height: 150px;
    backdrop-filter: blur(7px);
    border-radius: .8rem;
    margin: 15px;
    margin-top: 10px;
    transition: all .2s ease;
    text-decoration: none;
}

.box1:hover, .box2:hover, .box3:hover, .box4:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.box1:active, .box2:active, .box3:active, .box4:active {
    transform: scale(1.05);
}

.box-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25px;
}

.box-text .details {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.box-text .num-count {
    margin-top: -5px;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}

.box-icon {
    margin-right: 25px;
}

.box1 {
    background: linear-gradient(to right, #3b6c33, #284922); 
}

.box2 {
    background: linear-gradient(to right, #453885, #2E1F60); 
}

.box3 {
    background: linear-gradient(to right, #3d35c3, #2c26a5); 
}

.box4 {
    background: linear-gradient(to right, #2c7a8f, #246475); 
}

.down-d-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    height: 75%;
    width: 98%;
    margin: 15px;
    background: transparent;
}

.side-link-container {
    position: relative;
    
    display: flex;
    flex-direction: column;
    width: 36%;
    margin: 0;
    margin-left: 15px;
    border-radius: .6rem;
    scrollbar-width: none;
}

.side-link-box {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 15px;
    backdrop-filter: blur(7px);
    border-radius: 12px;
    box-shadow: 4px -5px 8px 1px rgba(0, 0, 0, 0.1);
    border: 2px solid #E9E8F9;
}